.footer{
    margin: 0 auto;
    margin-top: 20rem;
}


.footer__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    padding: 5rem 0;  
}


.footer__section::after,
.footer__section::before{
    display: block;
    content: "";
    // border: .1rem solid $black;
    height: 1px;
    background-color: rgba(0,0,0,.08);
    
    margin: 0 auto;
}

.footer__section::before{
    width: 100%;
    max-width: 130rem;
}

.footer__section::after{
    width: 100%;
}




.footer__item span{
    font-size: 1.4rem;
    color: $black;
    font-weight: 400;
}

.footer__header{
    font-size: 1.7rem;
    font-weight: 500;
    color: $black;
    margin-bottom: 1.5rem;
}

.footer__links{
    display: grid;
    
}

.footer__link{
    text-decoration: none;
    color: #00000066;
    font-size: 1.5rem;
    padding: .8rem 0;
    transition: color .4s linear;

    &:hover{
        color: $black;

    }
}

.language{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.btn{
    font-size: 1.6rem;
    
    color: #00000066;
    cursor: pointer;
    text-decoration: none;
    padding: 0 1.5rem;

}

.btn.active{
        border-radius: 1.2rem;
        border: .1rem solid $black;
        padding: .7rem 1rem;
        color: rgba(0,0,0,.4);
        color: $black;
    
}


.footer__footer{
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;

}

.footer__text{
    max-width: 600px;
    font-size: 1.4rem;
    color: #4A4A4A;
    vertical-align: inherit;
}

.social__media{
    width: 100%;
    max-width: 30rem;
}

.icons{
    margin-left: 2rem;
    color: #00000066;
    font-size: 2.5rem;

    transition: color .3s linear;

    &:hover{
        color: lighten($color: #000000, $amount: 0)
    }
}