.qrcod{
    margin: 10rem 0;
}

.img{
    margin: 6rem auto 0;
    display: flex;
    justify-content: center;
    max-width: 40rem;
    padding: 3.3rem ;
    
    background: $white;
    border-radius: 2.4rem;
}

.qr__img{
    
    width: 34rem;
}