<footer class="footer">
    <div class="footer__section">
        <div class="container">
            <div class="footer__content">

                <div class="footer__item">
                    <div class="footer__header">Продукты Kaspi.kz</div>
                    <div class="footer__links">

                        <a href="#" class="footer__link">KaspiGold</a>
                        <a href="#" class="footer__link">KaspiGold для детей</a>
                        <a href="#" class="footer__link">KaspiRed</a>
                        <a href="#" class="footer__link">KaspiDepozit</a>
                        <a href="#" class="footer__link">Крелит для ИП</a>
                        <a href="#" class="footer__link">Кредит Наличными</a>     
                                                
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__header">Сервисы Kaspi.kz</div>
                    <div class="footer__links">

                        <a href="#" class="footer__link">Магазин</a>
                        <a href="#" class="footer__link">Travel</a>
                        <a href="#" class="footer__link">ПЛатежи</a>
                        <a href="#" class="footer__link">Мой банк</a>
                        <a href="#" class="footer__link">Переводы</a>
                        <a href="#" class="footer__link">Акции</a> 
                        <a href="#" class="footer__link">Госуслуги</a> 
                        <a href="#" class="footer__link">Объявления</a> 
                        <a href="#" class="footer__link">Kaspi Gid</a>      
                                                
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__header">Для Бизнеса</div>
                    <div class="footer__links">

                        <a href="#" class="footer__link">KaspiPay</a>
                        <a href="#" class="footer__link">Бизнес Кредит</a>
                        <a href="#" class="footer__link">Продавать в Интернет-магазине
                            на Kaspi.kz</a>
                        <a href="#" class="footer__link">Kaspi Git</a>
                        <a href="#" class="footer__link">Кредит для ИП</a>
                        <a href="#" class="footer__link">Кредит Наличными</a>     
                                                
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__header">9999 <span>Бесплатно с мобильного</span></div>
                    <div class="footer__links">

                        <a href="#" class="footer__link">Пользовательское соглашение</a>
                        <a href="#" class="footer__link">Вакансии</a>
                        <a href="#" class="footer__link">Investor Relations</a>

                        <div class="language">
                            <div class="btn btn__kaz">Kaz</div>
                            <div class="btn btn__rus">Rus</div>
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>

    <div class="container">
        <div class="footer__footer">
            <div class="footer__text">
                <span class="copyright">© 2012-2023, АО "Каспи Банк"</span>
                <p>Лицензия на осуществление банковских и иных операций и деятельности на рынке 
                    ценных бумаг № 1.2.245/61 от 02.03.2020, 
                    выдана Агентством Республики Казахстан по регулированию и развитию финансового рынка</p>
                <div>
                    <a class="footer__link" href="">Корпаративный Сайт</a>
                </div>
            </div>

            <div class="footer__icons">
                <div class="social__media">
                    <a class="icons" href=""><i class="fab fa-instagram"></i></a>
                    <a class="icons" href=""><i class="fab fa-telegram"></i></a>
                    <a class="icons" href=""><i class="fab fa-whatsapp"></i></a>
                    <a class="icons" href=""><i class="fab fa-youtube"></i></a>
                    <a class="icons" href=""><i class="fab fa-vk"></i></a>
                    <a class="icons" href=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
