<header class="header">
    <div class="container">

          <div class="header__content">
               <div class="header__logo">
                    <img src="../assets/images/Logo.svg" alt="">
               </div>
     
               <nav class="header__nav">
                    <ul href="" class="nav__list">
     
                         <div class="nav__item">
                              <a href="#" class="nav__link">Клиентам</a> 

                              <ul class="nav__modal">
                                   <div class="nav__modal__group">
                                        <div class="nav__modal__column">
                                             <div class="nav__modal__header">
                                                  Продукты Kaspi.kz
                                             </div>
                                             <a href="" class="nav__modal__link">KaspiGold</a>
                                             <a href="" class="nav__modal__link">KaspiGold для детей</a>
                                             <a href="" class="nav__modal__link">KaspiRed</a>
                                             <a href="" class="nav__modal__link">KaspiDepozit</a>
                                             <a href="" class="nav__modal__link">Крелит для ИП</a>
                                             <a href="" class="nav__modal__link">Кредит Наличными</a>

                                        </div>
                                        <div class="nav__modal__column">
                                             <div class="nav__modal__header">
                                                  Сервисы Kaspi.kz
                                             </div>
                                             <a href="" class="nav__modal__link">Travel</a>
                                             <a href="" class="nav__modal__link">Магазин</a>
                                             <a href="" class="nav__modal__link">Мой Банк</a>
                                             <a href="" class="nav__modal__link">Переводы</a>
                                             <a href="" class="nav__modal__link">Акции</a>
                                             <a href="" class="nav__modal__link">Госуслуги</a>

                                        </div>
                                   </div>
                              </ul>
                         </div> 
                         
     
                         <div class="nav__item">
                              <a href="#" class="nav__link">Бизнесу</a>
                              
                              <ul class="nav__modal">
                                   <div class="nav__modal__group">
                                        <div class="nav__modal__column">
                                             <a href="" class="nav__modal__link">KaspiPay</a>
                                             <a href="" class="nav__modal__link">Бизнес Кредит</a>
                                             <a href="" class="nav__modal__link">Кредит для Ип</a>
                                        </div>
                                        <div class="nav__modal__column">
                                             <a href="" class="nav__modal__link">Продавать в интернет-магазине на Kaspi.kz</a>
                                             <a href="" class="nav__modal__link">Принимать платежи с Kaspi.kz</a>
                                             <a href="" class="nav__modal__link">KaspiGid</a>
                                        </div>
                                   </div>
                              </ul>
                         </div> 
                         
     
                         <div class="nav__item">
                              <a href="#" class="nav__link">KaspiGid</a>
                              
                              <ul class="nav__modal nav__modal--gid">
                                   <div class="nav__modal__group">
                                        <div class="nav__modal__column">                                             
                                             <a href="" class="nav__modal__link">Клиентам</a>
                                             <a href="" class="nav__modal__link">Бизнесу</a>
                                        </div>
                                   </div>
                              </ul>
                         </div> 
                         
     
                    </ul>
               </nav>
               
               <div class="rightcolunm__empty"></div>
     
          </div>

    </div>

</header>
